@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin container {
    width: 90%;
    margin: 0 auto;
}
//---color----//

$red : #F73624;
$hcolor:#2c3e50;
$para:#787878;
$border-width: 4px;
// $border-color: #ffc107;
$white:#fff;
$cap:capitalize;
$upper:uppercase;
$none:none;
$around:space-around;
$between:space-between;
$end:flex-end;
//-----font----//

$heading:'AlegreyaRegular';
$p:'RalewayRegular';
$transition: all .3s ease-in-out;

