* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  color: #2c3e50;
  background: #fff;
  font-family: 'RalewayRegular';
  line-height: 1.5;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, .head-wrp, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AlegreyaRegular';
  color: #000;
}

a, p {
  font-family: 'RalewayRegular';
  color: #787878;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

main header {
  width: 100%;
}

main header .top-social-bar {
  width: 100%;
  background: #F73624;
  padding: .4rem 0;
}

main header .top-social-bar .child-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

main header .top-social-bar .child-wrp .L1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .top-social-bar .child-wrp .L1 p {
  margin: 0 .5rem;
  font-family: 'open-sans';
  font-weight: bold;
}

main header .top-social-bar .child-wrp .L1 p:last-child {
  font-weight: normal;
}

main header .top-social-bar .child-wrp .L_cmn01 p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}

main header .top-social-bar .child-wrp .L_cmn01 p i {
  padding: 0.5rem 0.5rem;
  font-size: 1.1em;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 .2rem;
}

main header .top-social-bar .child-wrp .L_cmn01 p i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: #ffffff59;
  border-radius: 50%;
  color: #fff;
}

main header .Nav-wrp {
  width: 100%;
  background: #ffffffa8;
  position: absolute;
  padding: .2rem 0;
  z-index: 3;
}

main header .Nav-wrp nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

main header .Nav-wrp nav .logo {
  width: 35%;
}

main header .Nav-wrp nav .logo a img {
  max-width: 70%;
}

main header .Nav-wrp nav .nav-item {
  width: 60%;
  padding: 1rem 0;
}

main header .Nav-wrp nav .nav-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

main header .Nav-wrp nav .nav-item ul li {
  list-style-type: none;
  margin: 0 .9rem;
}

main header .Nav-wrp nav .nav-item ul li a {
  color: #000;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "AlegreyaRegular";
  word-spacing: 1px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 0 .4rem;
}

main header .Nav-wrp nav .nav-item ul li a:hover {
  color: #F73624;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main header .Nav-wrp nav .nav-item ul li a i {
  vertical-align: text-top;
}

main header .Nav-wrp nav .nav-item ul li .hvr-underline-from-left:before {
  background: #f73624;
  height: 2px;
}

main header .Nav-wrp nav .nav-item ul .hair-care {
  position: relative;
}

main header .Nav-wrp nav .nav-item ul .drop_down {
  position: absolute;
  top: 89px;
  left: 36%;
  width: 281px;
  background: #f73624a6;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
}

main header .Nav-wrp nav .nav-item ul .drop_down li {
  padding: 1rem 0;
  margin: 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-bottom: 1px solid #ffffff78;
}

main header .Nav-wrp nav .nav-item ul .drop_down li:hover {
  background: #f73624;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: .5rem;
}

main header .Nav-wrp nav .nav-item ul .drop_down li a {
  color: #fff;
  padding: 0 0 0 1rem;
  font-size: 1em;
  font-weight: 500;
}

main .Banner_Wrapper .banner-child:hover .owl-nav {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Banner_Wrapper .banner-child .owl-nav {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Banner_Wrapper .banner-child .banner-sub-child {
  background: url(../image/banner.png) no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 100%;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content {
  /* padding: 10rem 0 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 700px;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child {
  width: 50%;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child h1 {
  font-size: 3.1em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 550;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child p {
  font-size: 1.3em;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #000;
  font-weight: 500;
  padding: 1rem 0 2rem;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child a {
  padding: 1rem 2rem;
  font-size: 1.2em;
  display: inline-block;
  background: #F73624;
  color: #fff;
  border-radius: 100px;
  margin: 1rem 0 0;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child a i.fas.fa-chevron-right {
  font-size: 14px;
  padding: 0 0 0 .5rem;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child a:hover {
  color: #fff;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child .hvr-bounce-to-right:hover::before {
  border-radius: 100px;
  color: #fff;
  background: #000000;
}

main .Banner_Wrapper .banner-child .banner-sub-child .Banner_Content .Banner_child .hvr-bounce-to-right::before {
  border-radius: 100px;
  color: #fff;
  background: #000000;
}

main .Banner_Wrapper .banner-child .banner-sub-child2 {
  background: url(../image/banner2.png) no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 100%;
}

main .Banner_Wrapper .banner-child .banner-sub-child3 {
  background: url(../image/banner3.png) no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 100%;
}

main .Banner_Wrapper .banner-child .owl-dots {
  position: absolute;
  bottom: 35px;
  left: 50%;
}

main .Banner_Wrapper .banner-child .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background: #f7362459 !important;
  border-radius: 50%;
  margin: 0 .5rem;
  outline: none;
  border: none;
  /* border: 4px solid #f9bcbc!important; */
}

main .Banner_Wrapper .banner-child .owl-dots .owl-dot.active {
  background: #f73624 !important;
}

main .Banner_Wrapper .banner-child .owl-next, main .Banner_Wrapper .banner-child .owl-prev {
  position: absolute;
  right: 28px;
  top: 44%;
  font-size: 6em !important;
  color: #f7362487 !important;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Banner_Wrapper .banner-child .owl-next:hover, main .Banner_Wrapper .banner-child .owl-prev:hover {
  color: #f73624 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Banner_Wrapper .banner-child .owl-prev {
  left: 28px;
}

main .Service_wrapper {
  width: 100%;
  padding: 3rem 0 1rem;
}

main .Service_wrapper .Service_heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 3rem;
}

main .Service_wrapper .Service_heading h2 {
  width: 30%;
  font-size: 2.3em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
}

main .Service_wrapper .Service_heading h2 span {
  color: #F73624;
}

main .Service_wrapper .Service_heading p {
  width: 65%;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
}

main .Service_wrapper .Service_content .Grid_wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: auto auto auto;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 {
  width: 100%;
  position: relative;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01:hover .grid-hvr-content {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01:hover .grid-hvr-content .Hvr_cnt::before {
  width: 245px;
  height: 245px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01:hover .grid-hvr-content .Hvr_cnt::after {
  width: 245px;
  height: 245px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01:hover .bottom_Bar {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f736249c;
  z-index: 4;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt {
  text-align: center;
  position: relative;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  left: -100px;
  top: -213px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt::after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  right: -100px;
  bottom: -213px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt h2 {
  font-size: 1.9em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt p {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt a {
  display: inline-block;
  padding: .9rem 1.8rem;
  border-radius: 5px;
  background: #000000;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: 1px;
  z-index: 5;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt a:hover {
  color: #F73624;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt .hvr-radial-out {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .grid-hvr-content .Hvr_cnt .hvr-radial-out::before {
  background: #fff;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .bottom_Bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5rem .5rem;
  background: #0000008f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .bottom_Bar h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Ralewaythin';
  font-size: 1.275em;
  line-height: 1.5;
  letter-spacing: 1px;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .bottom_Bar a {
  display: inline-block;
  background: #f73624;
  padding: .7rem 1rem;
  border-radius: 5px;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 4px 1px #000000d6;
          box-shadow: inset 0px 0px 4px 1px #000000d6;
  font-size: 1.1em;
  text-transform: uppercase;
  display: none;
}

main .Service_wrapper .Service_content .Grid_wrp .Grid-item_cmn01 .bottom_Bar .hvr-radial-out::before {
  background: #000000;
}

main .Service_wrapper .Service_content .Grid-item1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  background: url(../image/grid1.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 610px;
}

main .Service_wrapper .Service_content .Grid-item2 {
  background: url(../image/grid2.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 300px;
}

main .Service_wrapper .Service_content .Grid-item3 {
  background: url(../image/grid3.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 300px;
}

main .Service_wrapper .Service_content .Grid-item4 {
  background: url(../image/grid4.png) no-repeat;
  background-size: 100% 100%;
  background-position: left;
  height: 300px;
}

main .Service_wrapper .Service_content .Grid-item5 {
  background: url(../image/grid5.png) no-repeat;
  background-size: 100% 100%;
  background-position: left;
  height: 300px;
}

main .Service_wrapper .Service_content .Grid__hvr0001:hover .Hvr_cnt::before {
  width: 131px !important;
  height: 131px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid__hvr0001:hover .Hvr_cnt::after {
  width: 131px !important;
  height: 131px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt::before {
  left: -100px !important;
  top: -60px !important;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt::after {
  right: -100px !important;
  bottom: -61px !important;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt h2 {
  font-size: 1.9em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt p {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt a {
  display: inline-block;
  padding: .9rem 1.8rem;
  border-radius: 5px;
  background: #000000;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 1px;
  letter-spacing: 1px;
  z-index: 5;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt a:hover {
  color: #F73624;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt .hvr-radial-out {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Service_wrapper .Service_content .Grid__hvr0001 .grid-hvr-content .Hvr_cnt .hvr-radial-out::before {
  background: #fff;
}

main .About_Wrapper {
  width: 100%;
  padding: 2rem 0 1rem;
  position: relative;
  overflow: hidden;
}

main .About_Wrapper::before {
  content: '';
  width: 51%;
  height: 121%;
  left: -245px;
  top: -203px;
  background: url(../image/bg1.png) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -webkit-animation: bganime 5s linear;
          animation: bganime 5s linear;
}

main .About_Wrapper .About_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .About_Wrapper .About_Content .Abt_cmn01 h2 {
  font-size: 3.2em;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

main .About_Wrapper .About_Content .Abt_cmn01 h2 span {
  color: #F73624;
}

main .About_Wrapper .About_Content .Abt_cmn01 p {
  font-size: 1.1em;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.8;
  padding: 1rem 0;
}

main .About_Wrapper .About_Content .Abt_cmn01 a {
  font-size: 1em;
  padding: .8rem 1.9rem;
  border-radius: 5px;
  display: inline-block;
  background: #F73624;
  color: #fff;
  margin: 1.4rem 0 0;
}

main .About_Wrapper .About_Content .Abt_cmn01 .hvr-bounce-to-right::before {
  border-radius: 5px;
  color: #fff;
  background: #000000;
}

main .About_Wrapper .About_Content .Abt_left {
  width: 65%;
}

main .About_Wrapper .About_Content .Abt_right {
  width: 30%;
}

main .About_Wrapper .About_Content .Abt_right img {
  max-width: 85%;
}

@-webkit-keyframes bganime {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes bganime {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

main .Appointment_Wrapper {
  width: 100%;
  background: url(../image/appointment_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 2rem 0 0;
  padding: 6.5rem 0;
  position: relative;
}

main .Appointment_Wrapper .Appointment_child {
  height: 400px;
  background: url(../image/Ap_bg1.png) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_left {
  width: 30%;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_right {
  width: 65%;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 {
  text-align: center;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 figure {
  position: absolute;
  top: 0;
  width: 33%;
  height: 100%;
  overflow: hidden;
  left: 70px;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 figure img {
  max-width: 64%;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 h2 {
  font-size: 3.3em;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 7px;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 h2 span {
  color: #000;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 p {
  text-transform: capitalize;
  color: #fff;
  line-height: 2;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 1.5rem 0;
  font-size: 1.1em;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 a {
  padding: 1rem 2rem;
  color: #fff;
  background: linear-gradient(165deg, #f73624 46%, #000000eb);
  font-size: 1.4em;
  display: inline-block;
  margin: 1.4rem 0 0;
  border-radius: 100px;
  -webkit-box-shadow: 0px 3px 3px 2px #000;
          box-shadow: 0px 3px 3px 2px #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 a:active, main .Appointment_Wrapper .Appointment_child .Appointment_Content .Apt_Cmn01 a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 9px 0px #000;
          box-shadow: inset 0px 0px 9px 0px #000;
}

main .Testimonial_Wrapper {
  padding: 2rem 0 1rem;
  position: relative;
  overflow: hidden;
}

main .Testimonial_Wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../image/bg1.png) no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  z-index: -1;
  -webkit-animation: Bganime 30s linear infinite;
          animation: Bganime 30s linear infinite;
  animation-direction: reverse;
}

main .Testimonial_Wrapper .Testimonial_heading h2 {
  font-size: 2.3em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

main .Testimonial_Wrapper .Testimonial_heading h2 span {
  color: #F73624;
}

main .Testimonial_Wrapper .Testimonial_Content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0 0;
}

main .Testimonial_Wrapper .Testimonial_Content ul li.Tst02.Tst_cmn02 {
  margin: 0.5rem 1rem 2rem 8rem !important;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst01 img {
  -o-object-position: right !important;
     object-position: right !important;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst_cmn02 {
  width: 40%;
  list-style-type: none;
  padding: 1rem 1rem;
  text-align: center;
  border: 2px solid #F73624;
  margin: 0.5rem 1rem 2rem;
  border-radius: 5px;
  position: relative;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst_cmn02 figure {
  position: absolute;
  left: -97px;
  top: -13px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /* border: 2px solid; */
  overflow: hidden;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst_cmn02 figure img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst_cmn02 p {
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding: 0 0 1rem 2.8rem;
}

main .Testimonial_Wrapper .Testimonial_Content ul .Tst_cmn02 h2 {
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: capitalize;
  color: #000;
  font-weight: 590;
}

@-webkit-keyframes Bganime {
  0% {
    background-position-x: -640px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .98;
  }
  50% {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position-x: 340px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-position-x: 1140px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes Bganime {
  0% {
    background-position-x: -640px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .98;
  }
  50% {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-position-x: 340px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    background-position-x: 1140px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

main .Appointment_Form_wrp {
  position: relative;
  overflow: hidden;
  padding: 1rem 0 0;
}

main .Appointment_Form_wrp::after {
  content: '';
  width: 74%;
  height: 131%;
  right: -394px;
  top: -147px;
  background: url(../image/bg1.png) no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
}

main .Appointment_Form_wrp .Apt_heading img {
  max-width: 35%;
  -webkit-animation: imganime 3s linear infinite;
          animation: imganime 3s linear infinite;
}

main .Appointment_Form_wrp .Apt_heading h2 {
  font-size: 2.3em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem 0 1rem;
  width: 90%;
  margin: 0 auto;
}

main .Appointment_Form_wrp .Apt_heading h2 span {
  color: #F73624;
}

@-webkit-keyframes imganime {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes imganime {
  0%, 100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

main .Appointment_Form_wrp .Form_wrp {
  width: 100%;
}

main .Appointment_Form_wrp .Form_wrp form {
  width: 90%;
  margin: 0 auto;
}

main .Appointment_Form_wrp .Form_wrp form .form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 {
  width: 23%;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 label {
  padding: .7rem 0;
  font-size: 1em;
  line-height: 1.5;
  word-spacing: 1px;
  text-transform: uppercase;
  margin: 0 .5rem;
  display: inline-block;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input[type="number"] {
  -moz-appearance: textfield;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input::-webkit-outer-spin-button,
main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input, main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 select {
  width: 100%;
  border: 1px solid #a3a3a3;
  color: #000;
  text-transform: capitalize;
  padding: .8rem 1rem;
  margin: .5rem .5rem;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input:focus, main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 select:focus {
  -webkit-box-shadow: 0 0 3px 2px #0000001f;
          box-shadow: 0 0 3px 2px #0000001f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: focus .4s;
          animation: focus .4s;
}

@-webkit-keyframes focus {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes focus {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 select {
  color: #999 !important;
  cursor: pointer;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input[type="submit"] {
  margin: 2.9rem .5rem 0 !important;
  background: #F73624;
  outline: none;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

main .Appointment_Form_wrp .Form_wrp form .form_content .Frm_cmn01 input[type="submit"]:hover {
  background: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 100px;
}

main footer {
  background: #f73624d6;
  margin: 6rem 0 0;
  position: relative;
}

main footer::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../image/Ap_bg3.png) repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  -webkit-animation: bganime 12s linear infinite;
          animation: bganime 12s linear infinite;
}

main footer .mid-logo {
  width: 100%;
  text-align: center;
  padding: 0 0 4rem;
}

main footer .mid-logo figure img {
  max-width: 18%;
}

main footer .footer_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main footer .footer_content .Ft04 li p:first-child {
  font-family: 'open-sans';
}

main footer .footer_content .Ft_cmn01 h2 {
  font-size: 1.6em;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #fff;
  padding: 0 0 .8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

main footer .footer_content .Ft_cmn01 ul {
  padding: 1rem 0 0;
}

main footer .footer_content .Ft_cmn01 ul li {
  list-style-type: none;
  padding: .5rem 0;
}

main footer .footer_content .Ft_cmn01 ul li a {
  font-size: 1em;
  line-height: 1.7;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 0 0 .3rem;
}

main footer .footer_content .Ft_cmn01 ul li a:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main footer .footer_content .Ft_cmn01 ul li .hvr-underline-from-left::before {
  background: #fff;
  height: 1px;
}

main footer .footer_content .Ft_cmn01 ul li p {
  color: #fff;
  font-size: 1.1em;
  padding: .5rem 0;
}

main footer .footer_content .Ft_cmn01 ul li p i {
  padding: 0 .5rem 0 0;
}

main footer .footer_content .Ft_cmn01 .social_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main footer .footer_content .Ft_cmn01 .social_wrp li i {
  font-size: 1.6em;
  padding: 0.5rem 0.5rem;
  margin: 0 .6rem 0 0;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main footer .footer_content .Ft_cmn01 .social_wrp li i:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: #ffffff59;
  border-radius: 50%;
  color: #fff;
}

main footer .footer_content .Ft_cmn01 .subscribe h3 {
  font-size: 1.4em;
  text-transform: capitalize;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 1px;
  padding: 1rem 0;
  color: #fff;
}

main footer .footer_content .Ft_cmn01 .subscribe label {
  width: 100%;
}

main footer .footer_content .Ft_cmn01 .subscribe label input {
  width: 100%;
  color: #fff;
  padding: .8rem 1rem;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

main footer .footer_content .Ft_cmn01 .subscribe label input:focus {
  -webkit-box-shadow: 0 0 3px 2px #0000001f;
          box-shadow: 0 0 3px 2px #0000001f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: focus .4s;
          animation: focus .4s;
}

main footer .footer_content .Ft_cmn01 .subscribe label #Submit2 {
  width: 100%;
  background: #000;
  font-size: 1.2em;
  text-transform: uppercase;
  border: none;
  margin: 1rem 0 0;
  cursor: pointer;
}

main footer .copyright_wrp {
  padding: 1.5rem 0;
  margin: 3rem 0 0;
  background: rgba(0, 0, 0, 0.452);
}

main footer .copyright_wrp .copy_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main footer .copyright_wrp .copy_content p {
  font-size: 13px;
  line-height: 1px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: capitalize;
  color: #fff;
}

@keyframes bganime {
  0%, 100% {
    background-position-x: -350px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  50% {
    background-position-x: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.Beauty-Wrapper header .Nav-wrp {
  position: relative !important;
}

.Beauty-Wrapper .Beauty-banner {
  height: 700px;
  width: 100%;
  overflow: hidden;
  background: #f73624cf;
  position: relative;
}

.Beauty-Wrapper .Beauty-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../image/bnr_bg.png) repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-animation: bganime 18s linear infinite;
          animation: bganime 18s linear infinite;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child {
  width: 48% !important;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child h1 {
  font-size: 4.5em;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: 'Arimo';
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child p {
  padding: 1rem 4rem 1rem 0;
  color: #fff;
  font-size: 1em;
  word-spacing: 1px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb {
  padding: 1rem 0 0;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb li {
  display: inline-block;
  list-style-type: none;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb li a {
  font-family: "AlegreyaRegular";
  font-size: 1.2em;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb li a:hover {
  opacity: .77;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb li:last-child a {
  border-bottom: 1px solid #fff;
  padding: 0 0 .1rem;
  font-weight: bold;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child .breadcrumb i.fas.fa-chevron-right {
  font-size: 13px;
  color: #fff;
  padding: 0 .5rem;
}

.Beauty-Wrapper .Beauty-banner .Banner_Content .Banner_child figure img {
  max-width: 100%;
}

.Beauty-Wrapper .BtService_Wrapper {
  position: relative;
  overflow: hidden;
}

.Beauty-Wrapper .BtService_Wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../image/our-bg.png) no-repeat;
  background-size: 100% 100%;
  right: -55%;
  top: -4px;
  z-index: -1;
  position: absolute;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp {
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill] !important;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item1 {
  height: 300px !important;
  background: url(../image/grid01.png) no-repeat !important;
  background-size: cover !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item1.Grid-item_cmn01 {
  background-size: 100% 103% !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item2 {
  background: url(../image/grid02.png) no-repeat !important;
  background-size: cover !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item5 {
  background: url(../image/grid05.png) no-repeat !important;
  background-size: cover !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item_cmn01:hover .hvr_cnt2::before {
  width: 92px !important;
  height: 92px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item_cmn01:hover .hvr_cnt2::after {
  width: 92px !important;
  height: 92px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item_cmn01 .Hvr_cnt h2 {
  font-size: 1.4em !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item_cmn01 .Hvr_cnt a {
  padding: 0.7rem 1rem !important;
  font-size: 15px;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .Grid-item_cmn01 .bottom_Bar h2 {
  font-size: 1.1em !important;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .hvr_cnt2::before {
  left: -6px !important;
  top: -67px !important;
  width: 0;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Beauty-Wrapper .BtService_Wrapper .Grid_wrp .hvr_cnt2::after {
  right: -4px !important;
  bottom: -65px !important;
  width: 0;
  height: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.Beauty-Wrapper .Hair-care_Wrapper {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.Beauty-Wrapper .Hair-care_Wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../image/beauty-bg.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.Beauty-Wrapper .Hair-care_Wrapper .HairCare-content {
  width: 100%;
}

.Beauty-Wrapper .Hair-care_Wrapper .HairCare-content p {
  font-size: 1em;
  padding: 1rem 0 1.4rem;
  line-height: 1.7;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.Beauty-Wrapper .Hair-care_Wrapper .HairCare-content .hair-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 2rem;
}

.Beauty-Wrapper .Hair-care_Wrapper .HairCare-content .hair-heading h2 {
  font-size: 3.1em;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #F73624;
}

.Beauty-Wrapper .Hair-care_Wrapper .HairCare-content .hair-heading h2 span {
  color: #F73624;
}

.Beauty-Wrapper .Treatment_Wrapper {
  padding: 1rem 0 1rem;
}

.Beauty-Wrapper .Treatment_Wrapper .Treat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Beauty-Wrapper .Treatment_Wrapper .Treat-content .trt-cmn01 {
  width: 48%;
}

.Beauty-Wrapper .Treatment_Wrapper .Treat-content .trt-cmn01 figure img {
  max-width: 100%;
  -webkit-animation: imganime 3s linear infinite;
          animation: imganime 3s linear infinite;
}

.Beauty-Wrapper .Vitality_Wrapper {
  width: 100%;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt-cmn01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt-cmn01 figure {
  width: 60%;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt-cmn01 figure img {
  max-width: 90%;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt-cmn01 figcaption {
  width: 25%;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt-cmn01 figcaption h3 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #F73624;
  position: relative;
  -webkit-animation: h3Anime 3s linear infinite;
          animation: h3Anime 3s linear infinite;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  border-bottom: 2px solid #F73624;
  display: inline-block;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt_l01 h3::before {
  content: '';
  width: 0px;
  /* height: 1px; */
  border: 1px dotted;
  position: absolute;
  left: -209px;
  top: 28px;
  -webkit-animation: beforAnime 3s linear infinite;
          animation: beforAnime 3s linear infinite;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt_l02 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.Beauty-Wrapper .Vitality_Wrapper .Vitality-content .trt_l02 figcaption h3::before {
  content: '';
  width: 0px;
  /* height: 1px; */
  border: 1px dotted;
  position: absolute;
  right: -224px;
  top: 33px;
  -webkit-animation: beforAnime 3s linear infinite;
          animation: beforAnime 3s linear infinite;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes beforAnime {
  0% {
    width: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  50% {
    width: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    width: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes beforAnime {
  0% {
    width: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  50% {
    width: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    width: 200px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
/*# sourceMappingURL=style.css.map */