*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    font-size: 15px;
    color: #2c3e50; background: #fff;
    font-family: 'RalewayRegular';
    line-height: 1.5;
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
    acronym, address, big, cite, code, del, dfn, em, img, ins, 
    kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
    b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
    legend, table, caption, tbody, tfoot, thead, tr, th, td, article, 
    aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
    menu, .head-wrp, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    
    html{
        scroll-behavior: smooth;
    }
    
    
    h1,h2,h3,h4,h5,h6{
        font-family: 'AlegreyaRegular';
        color:#000;
    }
    a,p{
        font-family: 'RalewayRegular';
        color:#787878;
        text-decoration: none;
    }

    @import "mixin";
    
    .container{
        @include container;
    }

    main{
        header{
            width: 100%;
            .top-social-bar{
                width: 100%;
                background: $red;
                padding: .4rem 0;
                .child-wrp{
                    @include flex;
                    justify-content:$between;
                    width: 90%;
                    margin: 0 auto;
                    .L1{
                     @include flex;
                     justify-content:$between;
                     p{
                         margin: 0 .5rem;
                         font-family: 'open-sans';
                         font-weight: bold;
                         &:last-child{
                            font-weight: normal;
                         }
                     }
                    }
                  .L_cmn01{
                        p{
                            text-transform: $cap;
                            font-weight: bold;
                            font-size: 1em;
                            color: $white;
                            i{
                                padding: .5rem.5rem;
                                font-size: 1.1em;
                                color:$white;
                                vertical-align: middle;
                                transition: $transition;
                                margin: 0 .2rem;
                                &:hover{
                                    transition: $transition;
                                    cursor: pointer;
                                    background: #ffffff59;
                                    border-radius: 50%;
                                    color: $white;
                                   }
                            }
                        }
                    }
                }
             }
             .Nav-wrp{
                 width: 100%;
                 background: #ffffffa8;
                 position: absolute;
                 padding: .2rem 0;
                 z-index: 3;
                nav{
                    @include flex;
                    justify-content: $between;
                    width: 90%;
                    margin: 0 auto;
                    .logo{
                        width: 35%;
                        a{
                        img{
                            max-width: 70%;
                        }
                        }
                    }
                    .nav-item{
                        width: 60%;
                        padding: 1rem 0;
                        ul{
                            @include flex;
                            justify-content: $end;
                            position: relative;
                            li{
                                list-style-type: $none;
                                margin: 0 .9rem;
                                a{
                                    color: #000;
                                    font-size: 1.2em;
                                    text-transform: $upper;
                                    font-family: $heading;
                                    word-spacing: 1px;
                                    letter-spacing: 1px;
                                    transition: $transition;
                                    padding: 0 0 .4rem;
                                    &:hover{
                                        color: $red;
                                        transition: $transition;
                                    }
                                    i{
                                        vertical-align: text-top;
                                    }
                                }   
                                .hvr-underline-from-left:before {
                                    background: #f73624;
                                    height: 2px;
                                }
                            }
                            .hair-care{
                                position: relative;
                                // &:hover{
                                //     .drop_down{
                                //         display: block;
                                //         transition: $transition;
                                //     }
                                // }
                            }
                            .drop_down{
                                position: absolute;
                                top: 89px;
                                left: 36%;
                                width: 281px;
                                background: #f73624a6;
                                justify-content: flex-start;
                                display:none;
                                li{
                                    padding: 1rem 0;
                                    margin: 0 0;
                                    transition: $transition;
                                    width: 100%;
                                    border-bottom: 1px solid #ffffff78;
                                    &:hover{
                                        background: #f73624;
                                        transition: $transition;
                                        padding-left: .5rem;  
                                    }
                                  a{
                                      color: #fff;
                                      padding: 0 0 0 1rem;
                                      font-size: 1em;
                                      font-weight: 500;
                                  }
                                }
                              }
                        }
                    }
                }
            }
        }

        //-----banner------//
        .Banner_Wrapper{
            .banner-child{
                &:hover{
                    .owl-nav{
                        opacity: 1;
                        transition: $transition;
                    }
                }
                .owl-nav{
                    opacity: 0;
                    transition: $transition;
                }
                .banner-sub-child{
                    background: url(../image/banner.png)no-repeat;
                    background-size: 100% 100%;
                    height: 700px;
                    width: 100%;
                  .Banner_Content {
                    /* padding: 10rem 0 0; */
                    @include flex;
                    justify-content: flex-start;
                    height: 700px;
                    .Banner_child{
                        width: 50%;
                        h1{
                            font-size: 3.1em;
                            line-height: 1.5;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            font-weight: 550;
                        }
                        p{
                            font-size: 1.3em;
                            letter-spacing: 1px;
                            word-spacing: 1px;
                            color: #000;
                            font-weight: 500;
                            padding: 1rem 0 2rem;
                        }
                        a{
                            padding: 1rem 2rem;
                            font-size: 1.2em;
                            display: inline-block;
                            background: $red;
                            color: $white;
                            border-radius: 100px;
                            margin: 1rem 0 0;
                            i.fas.fa-chevron-right {
                                font-size: 14px;
                                padding: 0 0 0 .5rem;
                            }
                            &:hover{
                                // background: #000;
                                color: #fff;
                            }
                        }
                        .hvr-bounce-to-right{
                            &:hover{
                                &::before{
                                border-radius: 100px;
                                color: #fff;
                                background: #000000;
                            } 
                            }
                            &::before{
                                border-radius: 100px;
                                color: #fff;
                                background: #000000;
                            } 
                        }
                    }
                   }
              }
              .banner-sub-child2{
                background: url(../image/banner2.png)no-repeat;
                background-size: 100% 100%;
                height: 700px;
                width: 100%;
              }
              .banner-sub-child3{
                background: url(../image/banner3.png)no-repeat;
                background-size: 100% 100%;
                height: 700px;
                width: 100%;
              }

              .owl-dots {
                position: absolute;
                bottom: 35px;
                left: 50%;
                .owl-dot {
                    width: 15px;
                    height: 15px;
                    background: #f7362459!important;
                    border-radius: 50%;
                    margin: 0 .5rem;
                    outline: none;
                    border: none;
                    /* border: 4px solid #f9bcbc!important; */
                 }
                 .owl-dot.active {
                    background: #f73624!important;
                }
              }
              .owl-next {
                position: absolute;
                right: 28px;
                top: 44%;
                font-size: 6em!important;
                color: #f7362487!important;
                outline: none;
                border: none;
                transition: $transition;
                &:hover{
                    color: #f73624!important;
                    transition: $transition;
                }
            }
            .owl-prev{
                @extend .owl-next;
                left: 28px;
            }
           } 
        }
// ----service---sectionnn---
    .Service_wrapper{
        width: 100%;
        padding: 3rem 0 1rem;
        .Service_heading{
            width: 100%;
            @include flex;
            justify-content: $between;
            padding: 2rem 0 3rem;
            h2{
                width: 30%;
                font-size: 2.3em;
                line-height: 1.5;
                letter-spacing: 1px;
                word-spacing: 1px;
                text-transform: $cap;
                font-weight: bold;
                span{
                    color: $red;
                }
            }
            p{
                width: 65%;
                line-height: 1.5;
                letter-spacing: 1px;
                word-spacing: 1px;
            }
        }
       .Service_content{
          .Grid_wrp{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            padding: 10px;
             grid-template-columns: auto auto auto;
              .Grid-item_cmn01{
                  width: 100%;
                //   height: 300px;
                 position: relative;
                 @include grid-Hvr;
                 .bottom_Bar{
                     position: absolute;
                     bottom: 0;
                     width: 100%;
                     padding: .5rem .5rem;
                     background: #0000008f;
                    //  @include flex;
                    //  justify-content:$between;
                     transition: $transition;
                     z-index: 9;
                    h2{
                     color: $white;
                     text-align: center;
                     text-transform: $upper;
                     font-weight: 500;
                     font-family: 'Ralewaythin';
                     font-size: 1.275em;
                     line-height: 1.5;
                     letter-spacing: 1px;
                    }
                    a{
                        display: inline-block;
                        background: #f73624;
                        padding: .7rem 1rem;
                        border-radius: 5px;
                        color: #fff;
                        box-shadow: inset 0px 0px 4px 1px #000000d6;
                        font-size: 1.1em;
                        text-transform: $upper;
                        display: none;
                    }
                    .hvr-radial-out{
                        &::before{
                            background: #000000;
                        }
                    }
                 }
              } 
          }
          .Grid-item1{
            grid-row-start: 1;
            grid-row-end: 5;
            background: url(../image/grid1.png)no-repeat;
            background-size: 100% 100%;
            background-position: center;
            height:  610px;//65vh;
          }
        .Grid-item2 {
            background: url(../image/grid2.png)no-repeat;
            background-size: 100% 100%;
            background-position: center;
            height: 300px;
        }
        .Grid-item3 { background: url(../image/grid3.png)no-repeat;
            background-size: 100% 100%;
            background-position: center;
            height: 300px;    }
        .Grid-item4 { background: url(../image/grid4.png)no-repeat;
            background-size: 100% 100%;
            background-position: left;
            height: 300px;    }
        .Grid-item5 {  background: url(../image/grid5.png)no-repeat;
            background-size: 100% 100%;
            background-position: left;
            height: 300px;
         }
         .Grid__hvr0001{
             @include grid-Hvr2;
         }
       }    
    }
    
//   -----About---section----//
    .About_Wrapper{
        width: 100%;
        padding: 2rem 0 1rem;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            width: 51%;
            height: 121%;
            left: -245px;
            top: -203px;
            background: url(../image/bg1.png)no-repeat;
            background-size: cover;
            position: absolute;
            z-index: -1;
            animation: bganime 5s linear;
        }
        .About_Content{
            @include flex;
            justify-content: $between;
            .Abt_cmn01{
                h2{
                    font-size: 3.2em;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    line-height: 1.5;
                    text-transform: $upper;
                    font-weight: bold;
                    span{
                        color: $red;
                    }
                }
                p{
                font-size: 1.1em;
                letter-spacing: 1px;
                word-spacing: 1px;
                line-height: 1.8;
                padding: 1rem 0;
                }
                a{
                    font-size: 1em;
                    padding: .8rem 1.9rem;
                    border-radius: 5px;
                    display: inline-block;
                    background: $red;
                    color: $white;
                    margin: 1.4rem 0 0;
                }
                .hvr-bounce-to-right{
                    &::before{
                        border-radius: 5px;
                        color: #fff;
                        background: #000000;
                    } 
                }
            }
            .Abt_left{
                width: 65%;
            }
            .Abt_right{
                width: 30%;
                img{
                    max-width: 85%;
                }
            }
        }
        @keyframes bganime {
            0%{
                transform: translateX(-100%);
                transition: $transition;
            }
            100%{
                transform: translateX(5%);
                transition: $transition;
            }
        }
    }

    // ------Book an Appointment------===>
.Appointment_Wrapper{
    width: 100%;
    // height:500px;
    background: url(../image/appointment_bg.png)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 2rem 0 0;
    padding: 6.5rem 0;
    position: relative;
    .Appointment_child{
        height: 400px;
        background: url(../image/Ap_bg1.png)no-repeat;
        background-size: cover;
        background-position: center;
        .Appointment_Content{
            @include flex;
            justify-content: space-between;
            // height: 400px;
            padding: 5rem 0;
            .Apt_left{
            width: 30%;
            }
            .Apt_right{ 
                width: 65%;
            }
            .Apt_Cmn01{
                // width: 50%;
                text-align: center;
                figure{
                    position: absolute;
                    top: 0;
                    width: 33%;
                    height: 100%;
                    overflow: hidden;
                    left: 70px;
                    img{
                        max-width: 64%;
                    }
                }
                h2{
                    font-size: 3.3em;
                    text-transform: $cap;
                    color: $white;
                    font-weight: bold;
                    line-height: 1.5;
                    letter-spacing: 2px;
                    word-spacing: 7px;
                    span{
                        color: #000;
                    }
                }
                p{
                    text-transform: $cap;
                    color: $white;
                    line-height: 2;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                    padding: 1.5rem 0;
                    font-size: 1.1em;
                }
                a{
                    padding: 1rem 2rem;
                    color: #fff;
                    background: linear-gradient(
                165deg
                ,#f73624 46%, #000000eb );
                    font-size: 1.4em;
                    display: inline-block;
                    margin: 1.4rem 0 0;
                    border-radius: 100px;
                    box-shadow: 0px 3px 3px 2px #000;
                
                }
            }
        }
  }
}


}